<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!--
  Update connection strings if you wish to run integration tests. You should also run Visual Studio in Administration mode because there are some IO operations for benchmarking. 
  -->
  <connectionStrings>
    <add name="AdventureWorks2014" connectionString="Data Source=DESKTOP-6I9FL7M;Initial Catalog=AdventureWorks2014;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
    <add name="SqlBulkToolsTest" connectionString="Data Source=DESKTOP-6I9FL7M;Initial Catalog=SqlBulkTools;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="AdventureWorks2014" connectionString="Data Source=THINKPAD\SQLSERVER;Initial Catalog=AdventureWorks2014;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
    <add name="SqlBulkToolsTest" connectionString="Data Source=THINKPAD\SQLSERVER;Initial Catalog=SqlBulkTools;Integrated Security=True;Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>--> 
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>